<br>
<br>
<br>
<br>
<div class="flex justify-center">
  <h3 class="text-3xl font-bold text-red-500">
    TO DO List
  </h3>
</div>

<div class="input-container flex justify-center space-x-2 bg-white p-8 rounded shadow">
  <input [(ngModel)]="taskTitle" type="text" class="w-96 p-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Entrez quelque chose...">
  <div (click)="toggleTaskForm()" class="cursor-pointer px-4 py-2 bg-red-400 text-white rounded hover:bg-red-500 transition duration-150 ease-in-out">
    Add new task
  </div>
</div>

<!--<div class="flex justify-center items-center min-h-screen bg-gray-100" *ngIf="this.isToggleTaskForm">-->
<!--  <form [formGroup]="taskForm"  class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">-->
<!--    <div class="mb-4">-->
<!--      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">-->
<!--        Title *-->
<!--      </label>-->
<!--      <input formControlName="title" id="title" placeholder="Enter Title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--    </div>-->
<!--    <div class="mb-4">-->
<!--      <label class="block text-gray-700 text-sm font-bold mb-2" for="description">-->
<!--        Description-->
<!--      </label>-->
<!--      <textarea formControlName="description" id="description" placeholder="Enter Description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>-->
<!--    </div>-->
<!--    <div class="mb-6">-->
<!--      <label class="block text-gray-700 text-sm font-bold mb-2" for="creator_name">-->
<!--        Creator Name *-->
<!--      </label>-->
<!--      <input formControlName="creator_name" id="creator_name" placeholder="Enter Creator Name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">-->
<!--    </div>-->
<!--    <div class="mb-6">-->
<!--      <label class="block text-gray-700 text-sm font-bold mb-2" for="deadline">-->
<!--        Deadline-->
<!--      </label>-->
<!--      <input formControlName="deadline" id="deadline" type="date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--    </div>-->
<!--    <div class="mb-6">-->
<!--      <label class="block text-gray-700 text-sm font-bold mb-2" for="file">-->
<!--        File-->
<!--      </label>-->
<!--      <input type="file" formControlName="file" id="file" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">-->
<!--    </div>-->

<!--    <div class="flex items-center justify-between">-->
<!--      <button (click)="createTask()"  class="bg-red-500 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">-->
<!--        Submit-->
<!--      </button>-->
<!--      <button (click)="cancel()" class="bg-black hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">-->
<!--        Cancel-->
<!--      </button>-->

<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<!--<div *ngIf="!isToggleTaskForm && tasks" class="mt-8 space-y-4 flex flex-col justify-center">-->
<!--  <div *ngFor="let task of tasks" class="w-[42rem] md:w-128 mx-auto bg-white rounded-lg shadow-md overflow-hidden">-->
<!--    <div class="p-5">-->
<!--      <h2 class="text-xl font-bold mb-2">{{ task.title }}</h2>-->
<!--      <p class="text-gray-700">{{ task.description }}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div *ngIf="!isToggleTaskForm && tasks" class="mt-8 space-y-4 flex flex-col justify-center">-->
<!--  <div *ngFor="let task of tasks; let i = index" class="w-[42rem] md:w-128 mx-auto bg-white rounded-lg shadow-md overflow-hidden flex justify-between items-start">-->
<!--    <div class="p-5 flex-grow">-->
<!--      <h2 class="text-xl font-bold mb-2">{{ task.title }}</h2>-->
<!--      <p class="text-gray-700">{{ task.description }}</p>-->
<!--    </div>-->
<!--    <div class="flex items-center pr-5">-->
<!--      <input type="checkbox" (change)="onCheckboxChange($event, task)" [checked]="task.completed" class="form-checkbox h-5 w-5 text-green-600">-->
<!--      <div class="relative inline-block text-left">-->
<!--        <div (click)="toggleMenu(i)" class="cursor-pointer p-2">-->
<!--          &#8942; &lt;!&ndash; Caractère Unicode pour les trois points verticaux &ndash;&gt;-->
<!--        </div>-->
<!--        <div *ngIf="currentMenuIndex === i" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">-->
<!--          <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">-->
<!--            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Détails</a>-->
<!--            <a href="#" (click)="editTask(task)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Modification</a>-->
<!--            <a href="#" (click)="deleteTask(task)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Suppression</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<div *ngIf="!isToggleTaskForm && tasks" class="mt-8 space-y-4 flex flex-col justify-center z-10">
  <div *ngFor="let task of tasks; let i = index" class="w-[42rem] md:w-128 mx-auto bg-white rounded-lg shadow-md relative">
    <div class="flex justify-between items-center p-5">
      <div class="flex-grow">
        <h2 class="text-xl font-bold mb-2">{{ task.title }}</h2>
        <p class="text-gray-700">{{ task.description }}</p>
      </div>

      <div class="flex items-center space-x-4">
        <input type="checkbox" (change)="onCheckboxChange($event, task)" [checked]="task.completed" class="form-checkbox h-5 w-5 text-green-600">

        <div class="relative inline-block text-left">
          <div (click)="toggleMenu(i, $event)" class="cursor-pointer p-2 menu-button">
            &#8942;
          </div>
          <div *ngIf="currentMenuIndex === i" class="absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50 menu-content">
            <div class="py-1" role="menu" aria-orientation="vertical">
              <a href="#" (click)="showDetails(task)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Details</a>
              <a href="#" (click)="editTask(task)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Update</a>
              <a href="#" (click)="deleteTask(task)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Delete</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="showModalDelete" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
    <div class="mt-3 text-center">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Delete {{ selectedTask?.title }}</h3>
      <div class="mt-2 px-7 py-3">
        <p class="text-sm text-gray-500">{{ selectedTask?.description }}</p>
        <p *ngIf="selectedTask?.completed" class="text-sm font-semibold text-green-400">Completed</p>
      </div>
      <div class="flex justify-between space-x-4 py-3">
        <button (click)="confirmDeleteSelectedTask(selectedTask)" class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 w-5/12">
          Delete task
        </button>

        <button (click)="showModalDelete = false" class="px-4 py-2 bg-gray-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 w-5/12">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>



<div *ngIf="showModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" >
  <div class="relative top-20 mx-auto p-5 border w-[30rem] sm:w-96 shadow-lg rounded-md bg-white">
    <div class="mt-3 text-center">
      <h3 class="text-lg leading-6 font-medium text-gray-900" *ngIf="selectedTask">{{ selectedTask?.title }}</h3>
      <div class="mt-2 px-7 py-3 text-left">
        <p class="text-sm text-gray-500" *ngIf="selectedTask">{{ selectedTask?.description }}</p>
        <p *ngIf="selectedTask?.completed" class="text-sm font-semibold text-green-400">Complétée</p>
        <p class="text-sm text-gray-700" *ngIf="selectedTask?.creator_name"><strong>Créateur :</strong> {{ selectedTask?.creator_name }}</p>
        <p class="text-sm text-gray-700" *ngIf="selectedTask?.deadline"><strong>Date limite :</strong> {{ selectedTask?.deadline | date:'mediumDate' }}</p>
        <p class="text-sm text-gray-700" *ngIf="selectedTask?.file"><strong>Fichier :</strong> <a href="{{selectedTask?.file}}" class="text-blue-500 hover:text-blue-700" download>Télécharger</a></p>
      </div>
      <div class="items-center px-4 py-3">
        <button id="ok-btn" (click)="showModal = false" class="px-4 py-2 bg-red-400 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>





<div class="flex justify-center items-center min-h-screen bg-gray-100" *ngIf="this.isToggleTaskForm">
  <form [formGroup]="taskForm" class="space-y-4 bg-white p-8 rounded shadow-lg">
    <div class="flex flex-col">
      <label class="mb-2 text-sm font-medium text-gray-700">Title</label>
      <input type="text" formControlName="title" required class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <div class="flex flex-col">
      <label class="mb-2 text-sm font-medium text-gray-700">Description</label>
      <input type="text" formControlName="description" class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <div class="flex items-center mt-4">
      <input type="checkbox" formControlName="completed" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
      <label class="ml-2 text-sm text-gray-900">Completed</label>
    </div>

    <div class="flex flex-col">
      <label  class="mb-2 text-sm font-medium text-gray-700">Creator Name</label>
      <input type="text" formControlName="creator_name" required class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <div class="flex flex-col">
      <label class="mb-2 text-sm font-medium text-gray-700">Deadline</label>
      <input type="date" formControlName="deadline" class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <div class="flex flex-col">
      <label  class="mb-2 text-sm font-medium text-gray-700">File</label>
      <input type="file" (change)="onFileSelected($event)" class="w-full text-sm text-gray-500 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100">
    </div>
    <div class="flex justify-between space-x-4">
      <button (click)="submitForm()" type="submit" class="inline-flex justify-center py-2 px-4 mt-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 w-auto">
        Add Task
      </button>
      <button (click)="cancelTaskCreation()" type="button" class="inline-flex justify-center py-2 px-4 mt-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-500 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 w-auto">
        Cancel
      </button>
    </div>


  </form>
</div>


